.container-fluid{
    background-color:black;
}
body{
 background-color:black; 
 color:white;
}

img {
    display: block;
    margin: auto;
}
.center{
    text-align:center;   
}
#about{
    color:white;
    font-size:550%;  
    background-color:black;
}
#contact{
 font-size:550%;   
}
.navbar{
  position: relative;
}   
.background{
    background-color:black;    
}
